<ul>
    {{#each products}}
        <li>Name: {{this.name}}, Description: {{this.description}}, Code: {{this.code}}, Price: {{this.price}}, Stock: {{this.stock}}, <img src='{{this.image}}'></li>
    {{/each}}
</ul>

{{>links}}